<!DOCTYPE html>
<html>

<head>
    <title>Reports</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <header>Maintenance Reports</header>

    <div class="container">
        {% include "_sidebar.html" %}

        <div class="main">
            <table>
                <tr>
                    <th>VIN</th>
                    <th>CSV</th>
                    <th>PDF</th>
                </tr>

                {% for v in vehicles %}
                <tr>
                    <td>{{ v.vin }}</td>
                    <td><a href="/report/csv/{{ v.vin }}">CSV</a></td>
                    <td><a href="/report/pdf/{{ v.vin }}">PDF</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</body>

</html>